/*
<!--
Donna Seymour
October 5, 2021
Assignment 1c DGL203-DLU1
Scripts from LinkedIn Tutorial 
Continueing Chapters 7-8 of CSS Essential Training with Christine Troung
https://www.linkedin.com/learning/css-essential-training-3/typography-for-the-web

COLOR PALETTE
https://coolors.co/ddd8b8-b3cbb9-84a9c0-6a66a3-160c1d
#DDD8B8 Dutch White
#B3CBB9 Cambridge Blue
#84A9C0 Pewter Blue
#6A66A3 Dark Blue Gray
#160C1D Xiketic
*/

/*Global styles
-------------------------------*/

/*--- add this (lines 22-27) to every css file to undo inherited box model floats ---*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
   color: #160C1D;
   margin: 0;
   padding: 0;
   font-family: 'Birthstone';
   font-family: 'Roboto', sans-serif;
   font-size: 18 px;
   line-height: 1.25rem;
}
img {
   width: 300px; 
}
a {
    color: #160C1D;
}
a:hover {
    text-decoration: none;
}
h1 {
    font-size: 85px;
    line-height: 1rem;
    }
h2 {
    font-size: 45px;
}
h1, h2 {
    font-family: 'Birthstone';
    margin-bottom: .85em;
}
h3 {
    margin-top: 0;
}
.content-wrap {
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
}
h3 {
    margin-bottom: 0;
}
.item-details h3 + p {
    font-style: italic;
}
.item-details h3 ~ p {
    margin: 0;
}
.divider > section {
    border-bottom: 2px dashed #6A66A3;
    padding: 25px 0px;
}
.divider > section:last-of-type {
    border-bottom: none;
}


/*Profile
-------------------------------*/
header {
    background: #6A66A3;
    color: #DDD8B8;
    text-align: center;
}




/*Projects
-----------------------------*/
.projects {
    background: #B3CBB9;
}
.projects a {
    color: #6A66A3;
}

.projects .btn {
    color: #6A66A3;
    background: #84A9C0;
    text-decoration: none;
    padding: 6px;
    border-radius: 5px;
    display: inline-block;
}

.projects .btn:hover {
    background: rgb(132, 169, 192, 80%)
}

.project-item {
    overflow: hidden;
/*    border-bottom: 2px dashed #6A66A3;
    padding: 25px 0px;
    Moved to global css---*/
}

.project-item img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}


/*Work Experience
-------------------------------*/
.work-experience {
    background: #84A9C0;
}
.job-title {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 40px;
    padding-bottom: 40px;
}
.job-summary {
    padding-top: 0;
}



/*Education
-------------------------------*/
.education {
    background-image: url(../images/joanna-kosinska-unsplash.jpg);
    background-size: auto;
    background-position: top right;
}



/*Contact Info
-------------------------------*/
footer {
    background: #6A66A3;
    color: #DDD8B8;
    text-align: center;
}
.contact-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
.contact-list a {
    padding: 15px;
    display: inline-block;
}