/*
COLOR PALETTE
https://coolors.co/ddd8b8-b3cbb9-84a9c0-6a66a3-160c1d
#DDD8B8 Dutch White
#B3CBB9 Cambridge Blue
#84A9C0 Pewter Blue
#6A66A3 Dark Blue Gray
#160C1D Xiketic
*/

/*Global styles
-------------------------------*/
body {
   color: #160C1D;
}
img {
   width: 300px; 
}
a {
    color: #84A9C0;
}
a:hover {
    text-decoration: none;
}




/*Profile
-------------------------------*/
header {
    background: #6A66A3;
    color: #DDD8B8;
}




/*Projects
-----------------------------*/
.projects {
    background: #B3CBB9;
}
.projects a {
    color: #6A66A3;
    background: #84A9C0;
    text-decoration: none;
}


/*Work Experience
-------------------------------*/
.work-experience {
    background: #84A9C0;
}



/*Education
-------------------------------*/




/*Contact Info
-------------------------------*/
footer {
    background: #6A66A3;
    color: #DDD8B8;
}